*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

header, footer{
    width: 100vw;
    height: 10vh;
    background-color: rgb(211, 211, 211);
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: space-between;
}

.esquerda{
    height: 100%;
    display: flex;
    align-items: center;
}
.direita{
    height: 100%;
    display: flex;
    align-items: center;
}

.container{
    width: 100vw;
    min-height: 80vh;
    padding-top: 10vh;
    gap: 5vh;
    background-color: rgb(240, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}


table, thead, tbody{
    width: 80%;
}

tr, li{
    width: 100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}

th, td{
    min-width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn{
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(211, 211, 211, 0.7);    
    padding: 2px;
    margin: 2px;
}

.btn:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(80, 80, 80, 1);
}

.btnv{
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    margin: 2px;
}

.btnv:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(120, 120, 120, 1);
    padding: 2px;
    margin: 2px;
}

.btnb{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0.7);
    padding: 2px;
    margin: 2px;
}
.btnb:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 120, 1);
    padding: 2px;
    margin: 2px;
}

ul{list-style: none;}

form{
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
}

form>p{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-around;
    padding: 5vh;
    background-color: rgb(211, 211, 211);
    border: 5px solid rgb(80, 80, 80);
    border-radius: 10px;
}

.logo{width: 20vw; height: 10vh}

#home{
    display: none;
    background-color: rgba(222, 222, 222, 0.7);
    padding: 10px;
}
#home:hover{
    background-color: rgba(180, 180, 180, 1);
    color: black;
}

@media screen and (max-width: 1100px){
    .logo{
        display: none;
    }
    .qtde{
        display: none;
    }
    .table-cotainer>h2{
        display: none;
    }
    #home{
        display: flex;
    }
    .colunabtn{
        display: flex;
        flex-direction: column;
    }
    header{
        flex-direction: column;
        height: 30vh;
        gap: 1vh;
    }
    .esquerda{
        flex-direction: column;
    }
    th, td{
        min-width: 8vw;
        overflow: hidden;
    }
}